## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s ="Hi there Sam!"
split = s.split()
print(split)

['Hi', 'there', 'Sam!']

In [4]:
s ="Hi there dad!"
split = s.split()
print(split)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
planet="Earth"
diameter=12742
print("The diameter of {} is {} kilometres." .format(planet,diameter));

The diameter of Earth is 12742 kilometres.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
hello=lst[3][1][2][0];
print(hello)

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **


List:

The list is a sequence data type which is used to store the collection of data.
List has mutable nature. It can be changed or modified after its creation.

Tuple:

Tuple is a collection of objects separated by commas
tuple is immutable. It canâ€™t be changed or modified after its creation.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [11]:
def domainGet(mail):
    print(mail.split('@')[-1])

mail = input("Enter your email: ")
domainGet(mail)

Enter your email: good@gmail.com
gmail.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [12]:
def traversestr(str):
  str = str.lower()
  if "dog" in str:
    print("True")
  else:
    print("False")

str = input("Input string:  ")
traversestr(str)

Input string:  hai dog
True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [13]:
def traversestr(str):
  str = str.lower()
  count = 0
  for i in str.split():
    if i=="dog":
      count += 1
  return count

str = "one dog is dollar another dog is roller"
print(traversestr(str))

2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [14]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [17]:
speed = 85
birthday = True
print(caught_speeding(speed,birthday))

Small Ticket

In [18]:
speed = 85
birthday = False
print(caught_speeding(speed,birthday))

Big Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [20]:
employee = [2000,2700,3400,4100,5000]
expenditure = 0
for i in range(0, len(employee)):
  expenditure = expenditure + employee[i]
print("Total salary expenditure is ",expenditure)

Total salary expenditure is  17200

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [26]:
employee = {'Empid': 1763, 'Empname': "dhoni", 'Basicpay': 40000}
department = {'DeptName' : "cse", 'DeptId' : 7  }

In [27]:
def combine(employee, department):
    return(employee.update(department))

print(combine(employee, department))
print(employee)

None
{'Empid': 1763, 'Empname': 'dhoni', 'Basicpay': 40000, 'DeptName': 'cse', 'DeptId': 7}